body {
      
}
.container{
    /* opacity: 50%; */
    margin-left: 0rem;
    margin-right: 0rem;
    background-color: rgb(238, 235, 235);
    height: 100%;
    text-align: center;
    
}

.container h1 {
    text-align: center;
    font-family: 'Monoton', cursive;
    color: goldenrod;
    font-size: 3.5rem;
    padding:1rem;
  
}

#magicNumber{
    text-align: center;
    padding:1rem;  
    color: whitesmoke;
    font-weight: 800;
    font-size: 1rem;
    font-family: 'Julius Sans One', sans-serif;
    background: cadetblue;
    border-bottom-color: black;
}

.main-left h2 {
    text-align: center;
    padding:1rem;
    
}

.main-left p{
    text-align: center;
    line-height: 140%;
    margin: 2rem;
    color: lightslategray;
  
}

.notes{
    text-align: center;
    padding:1rem;
}

.crystals {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 100%;
    margin-top: 2rem;
}

.crystal {
    border: .10rem solid black;
    border-radius: 50%; 
    height: 10rem;
    width: 15rem;
    background: url(images[i]);
    margin-right: 1rem;

}

.crystal:hover {
    box-shadow: 0rem 0rem 1rem rgb(0, 0, 0, .75);
}
.score{
    text-align: center;
    padding:1rem;
    font-weight: 600;
    float: left;
    margin-left: 20rem;
    margin-top:2rem;
    color: rgb(71, 71, 167);
    font-size: 1rem;
    font-family: 'Julius Sans One', sans-serif;
}

.lose{ 
    float: right;
    margin-right: 20rem;
    margin-top: 2rem;
    font-weight: 600;
    color: rgb(71, 71, 167);
    font-size: 1rem;
    font-family: 'Julius Sans One', sans-serif;
    
}

.win{ 
    float: right;
    margin-right: 20rem;
    margin-top: 1rem;
    font-weight: 600;
    color: rgb(71, 71, 167);
    font-size: 1rem;
    font-family: 'Julius Sans One', sans-serif;
}

img {
   width: 10rem;
   height: 10rem;
   
}